html{
  height: 100.1%;
  position: relative;
overflow-x: hidden !important;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;

  font-family: Calibri;


}
.img0 {
  position: relative;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.background-image .backimg{
  margin-bottom: 0px;
    opacity: 0.3;
    color: #fff;
    background: #000 url("https://images.pexels.com/photos/94847/pexels-photo-94847.jpeg?cs=srgb&dl=pexels-photomix-company-94847.jpg&fm=jpg") ;
    width: 100%;
    height: 325%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    margin-top: 425px;
    margin-bottom: 3000px;
    top:0;
    left:0;
    z-index:1;

}
@media only screen and (max-width: 767px) {
  .background-image .backimg {
    background-color: none;
    background-image: none;
    height: 0px;
    width:0px;
  }
}
@media only screen and (max-width: 767px) {
  .motohead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
  }

  .motohead1 {
    width: 100%;
    margin-bottom: 1em;
  }

  .motohead2 {
    margin-bottom: 0.75em;
  }

  .moto {
    margin-left: 0;
    text-align: center;
  }
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.top-header-block {
margin-right: 4.5rem;
display: flex;
flex: 1;
flex-flow: row wrap;
justify-content: space-between;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
margin-right: 0.9rem;
display: flex;
flex-flow: row wrap;
}
.header{
  width: 100%;
  height:768px;
  position: relative;
}
.logo img{
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  margin-left: -40px;
  max-height: 68px;

  }
  @media screen and (max-width: 768px) {
  .logo img {
    height: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 350px;
  }
  }
  @media screen and (max-width: 400px){
    .logo img{
      height: 50px;
      width: 300px;
      margin-top: 3px;
      margin-bottom: 3px;
    }

  }





nav{

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(255,151,103,0.164);
  z-index: 1;
  width: 100%;
  height:10vh;
  position: relative;
  left: 0px;
  top: 0px;
}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-one{
display: flex;
background-color: rgb(255, 255, 255);
height: 45px;
cursor: pointer;
justify-content: right;
list-style-type: none;
font-size: 14px;
background: #3f1454;
color: #fff;

}
.navbar-one a {
color: #fff;
text-decoration: none;
}





@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.left >div + div{
  margin-left: 20px;
}
.right >div{
  margin-left: 40px;
}
.left >div:hover,
.right >div:hover{
  color:rgb(0, 0, 0);
  transition: all 0.5s;
}


span{
  margin-left: 0px;
}
.navbar-second{
  background-color: #fff;
  height: 80px;
  position: sticky;

}
nav ul{
  display: flex;
  margin: 0px;
  padding: 0px;
}
nav ul li a{
  height: 40px;
  line-height: 43px;
  margin: 8px;
  padding: 0px 10px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  text-decoration: none;

}
nav ul li a:hover{
  border-radius: 5px;
  background-color: rgb(63 20 84);
  color: #fff;
  text-decoration: none;

}
.active{
  background-color: rgb(63 20 84);
  color: #fff;
}
nav .menu-btn{
  display: none;
}

.mybackground{
  background-image: url("sli7.jpg");
  opacity: 1.0;

}



.moto{
	font-family: 'Raleway', sans-serif;
  margin-left: 45px;
}

.motohead{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 5.625em;
}

.motohead1 {
	width: 57.265%;
}


.motohead1{
	/*font-size: 1.6rem;*/
	/*color: #59616d;*/
	margin-bottom: 1.875em;
	line-height: 1.8;
}

.motohead2 {
	/*font-size: 3rem;*/
	/*color: #000;*/
	text-transform: uppercase;
	margin-bottom: 1.1667em;
}
@media only screen and (max-width: 767px) {
  .motohead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
  }

  .motohead1 {
    width: 100%;
    margin-bottom: 1em;
  }

  .motohead2 {
    margin-bottom: 0.75em;
  }

  .moto {
    margin-left: 0;
    text-align: center;
  }
}








.about-upper-section {
	font-family: 'Raleway', sans-serif;
}

.about-upper-section .container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 0.625em;
}

.about-upper-section .who-we-are {
	width: 57.265%;
}

.about-upper-section .who-we-are p {
	/*font-size: 1.6rem;*/
	/*color: #59616d;*/
	margin-bottom: 1.875em;
	line-height: 1.8;
}

.top-heading {
	/*font-size: 3rem;*/
	/*color: #000;*/
	text-transform: uppercase;
	margin-bottom: 1.1667em;
}

/*=====Our Story=====*/

.about-upper-section .our-story {
	width: 370px;
}

.about-upper-section .our-story ul {
	margin: 0;
	padding: 0;
}

.about-upper-section .our-story ul li {
	margin-bottom: 2.5em;
}

.about-upper-section .our-story svg {
	/*color: #1f4271;*/
	/*font-size: 2.5rem;*/
	margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .about-upper-section .container {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }

  .about-upper-section .who-we-are {
    width: 100%;
    margin-bottom: 1em;
  }

  .top-heading {
    margin-bottom: 0.75em;
  }

  .about-upper-section .our-story {
    width: 100%;
  }

  .about-upper-section .our-story svg {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

.who-we-are1{
  width: 57.265%;
  font-family: 'Raleway', sans-serif;
}
.who-we-are1 p{
  margin-bottom: 1.875em;
	line-height: 1.8;
  margin-left: 44px;
}

.top-heading1 {
  margin-bottom: 0.75em;
  margin-left: 44px;
}
@media only screen and (max-width: 768px) {
  .who-we-are1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .who-we-are1 p {
    margin-left: 0;
    text-align: center;
  }
  .top-heading1 {
    margin-left: 0;
    text-align: center;
  }
}











.second-container{
  font-family: 'Raleway', sans-serif;
}
.second-container-upper{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 2em;
  margin-left: 45px;
}
.art{
	width: 57.265%;
}
.art{
	/*font-size: 1.6rem;*/
	/*color: #59616d;*/
	margin-bottom: 1.875em;
	line-height: 1;
}
.second{
	/*font-size: 3rem;*/
	/*color: #000;*/

	text-transform: uppercase;
	margin-bottom: 1.1667em;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .second-container-upper {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    margin-left: 0;
  }

  .art {
    width: 100%;
    margin-bottom: 1em;
  }

  .second {
    margin-bottom: 0.75em;
  }
}






* {
  box-sizing: border-box;
}
body {
  /*Removing touch highlights on smartphones*/

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding-top: 0;
  font-family: "Rubik", sans-serif;
}

.main-wrapper {

  max-width: 1662px;
  margin: 0 auto;
}

/*-------------------------------------------------------
-------------------------------------------------------
-------------------------------------------------------*/
/* SLIDE LAYOUT
/*-------------------------------------------------------
-------------------------------------------------------
-------------------------------------------------------*/
.sl-wrapper {
  margin-top: 90px;
  position: relative;
}
.sl-nav {
  position: relative;
  width: 100px;
  height: 60px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url();
}
.swiper-button-next,
.swiper-button-prev {
  width: 35px;
}

/*-------------------------------------------------------*/
/* Card Bkg Img
/*-------------------------------------------------------*/

.sl-bkg-img,
.sl-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.sl-img-1 {
  background-image: url("principal.jpg");
}
.sl-img-2 {
  background-image: url("fay.JPG");
}
.sl-img-3 {
  background-image: url("joseph.jpg");
}
.sl-img-4{
  background-image: url("santharaj.JPG");
}
.sl-img-5 {
  background-image: url("isaac.jpg");
}
.sl-img-6 {
  background-image: url("paul2.jpg");
}
.sl-img-7 {
  background-image: url("sathish.JPG");
}
.sl-gradient {
  background-image: url("");

}
/*-------------------------------------------------------*/
/* Card Content
/*-------------------------------------------------------*/

.sl--content-container {
  position: absolute;
  background-color: #ffffff;
}
.sl--content-container h2 {
  text-transform: uppercase;
}
.sl--sub-text {
  font-weight: 300;
}
.content-reveal-btn {
  background-color: #04b7ac;
}
.sl--show-card-info,
.sl--close-card-info {
  fill: #ffffff;
}
.sl--show-card-info {
  transform: scale(0.6, 0.6);
  -webkit-transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sl--close-card-info {
  -ms-transform: rotate(45deg) scale(0.6, 0.6);
  -webkit-transform: rotate(45deg) scale(0.6, 0.6);
  transform: rotate(45deg) scale(0.6, 0.6);
  -webkit-transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*--------------------------

     Media Queries

--------------------------*/
/*    Mobile    */

@media only screen and (min-width: 320px) {
  /* 320px */

  /*-------------------------------------------------------*/
  /* SL Header: 320
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 0 18px;
  }
  .sl-header-wrapper h3 {
    font-size: 50px;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: -1.4px;
    margin: 10px 0;
  }
  .sl-header-wrapper h4 {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    line-height: 100%;
    letter-spacing: -1.4px;
    word-spacing: 2.4px;
  }
  .sl-header-wrapper p {
    font-weight: 300;
  }
  @media only screen and (max-width: 320px) {
    .main-wrapper {
      max-width: 320px;
    }
    .sl-header-wrapper h3 {
      font-size: 24px;
      margin: 5px 0;
    }
    .sl-header-wrapper h4 {
      font-size: 12px;
      letter-spacing: 0.5px;
      word-spacing: 1px;
    }
    .sl-nav {
      width: 40px;
      height: 30px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 15px;
    }
    .sl-bkg-img,
    .sl-gradient {
      background-size: cover;
      background-position: center center;
    }
    .sl-card-wrapper {
      width: 100%;
      padding: 10px;
    }
    .sl--content-container h2 {
      font-size: 16px;
    }
    .sl--sub-text {
      font-size: 10px;
    }
    .sl--show-card-info,
    .sl--close-card-info {
      transform: scale(0.3);
    }
  }
  @media only screen and (max-width: 568px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-container {
      touch-action: pan-y;
    }
  }


  /*-------------------------------------------------------*/
  /* Prev/Next Slide Cover: 320
	/*-------------------------------------------------------*/
  .sl-nav {
    display: none;
  }
  .swiper-slide-prev .slide-cover,
  .swiper-slide-next .slide-cover,
  .slide-cover {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0.75;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    visibility: visible;
  }
  .swiper-slide-active .slide-cover {
    position: absolute;
    opacity: 0;
    -webkit-transition: visibility 0s 0.5s, opacity 300ms;
    transition: visibility 0s 0.5s, opacity 300ms;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    visibility: hidden;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 320
	/*-------------------------------------------------------*/

  .swiper-container {
    width: 95%;
    height: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  /*-------------------------------------------------------*/
  /* Card: 320
	/*-------------------------------------------------------*/

  .sl-card-wrapper {
    position: relative;
    height: 540px;
    overflow: hidden;
  }
  /*-------------------------------------------------------*/
  /* Card Bkg Img: 320
	/*-------------------------------------------------------*/

  .sl-gradient {
    background-position: center 210px;
  }
  .sl-bkg-img {
    background-size: cover;
    background-position: center top;
  }
  /*-------------------------------------------------------*/
  /* Card Content: 320
	/*-------------------------------------------------------*/

  .sl--content-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transition: width 250ms, height 250ms;
    transition: width 250ms, height 250ms;
    overflow: hidden;
  }
  .sl--content-wrapper-inactive {
    width: 101%;
    height: 541px;
  }
  .sl--content-wrapper-active {
    width: 101%;
    height: 100%;
  }
  .sl--content-container {
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
  }
  .sl--card-hide {
    transform: translate(0, 410px);
    -webkit-transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    height: 568px;
  }
  .sl--card-reveal {
    transform: translate(0, 0);
    -webkit-transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
      width 250ms;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*padding: 100px 0px;*/
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .sl--content-container h2 {
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: -1.4px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .sl--sub-text {
    margin-bottom: 0;
    -webkit-transition: margin 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: margin 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .sl--card-reveal .sl--sub-text {
    margin-top: 12%;
  }
  .sl--content-container .sl--card-content {
    font-weight: 300;
    margin-top: 15px;
    overflow-y: auto;
  }
  .sl--link {
    color: #04b7ac;
    margin-bottom: 15px;

  }
  .sl--card-nav-container {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    bottom: 0;
    /*background-color: #ffffff;*/
    background-image: linear-gradient(0deg, #f5f5f5, hsla(37, 87%, 97%, 0));
  }
  .sl--content-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;
    z-index: 1;
  }
  .content-hide-btn {
    transform: scale(0, 0);
  }
}
@media only screen and (min-width: 375px) {
  /* 375 */
  /*-------------------------------------------------------*/
  /* Card Bkg Img: 375
	/*-------------------------------------------------------*/

  .sl-gradient {
    background-position: center 300px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 375
	/*-------------------------------------------------------*/

  .sl-card-wrapper,
  .sl--content-wrapper-inactive {
    height: 600px;
  }
  .sl--content-wrapper-inactive {
    width: 91%;
  }
  .sl--content-container {
    height: 372px;
  }
  .sl--card-reveal {
    height: 100%;
    width: 100%;
  }
  .sl--card-hide {
    transform: translate(0, 465px);
    height: 667px;
  }
  /*@-moz-document url-prefix() {
		.sl--card-hide {
			color: red;
			transform: translate(0, 265px);
			border: red 5px solid;
		}

	}*/
}
@media only screen and (min-width: 414px) {
  /* 414 */
  /*-------------------------------------------------------*/
  /* SL Header: 414
	/*-------------------------------------------------------*/
  .sl-header-wrapper h3 {
    font-size: 55px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 414
	/*-------------------------------------------------------*/
  .sl-card-wrapper,
  .sl--content-wrapper-inactive {
    height: 650px;
  }
  .sl--card-hide {
    height: 740px;
    transform: translate(0, 495px);
  }
}
@media only screen and (min-width: 568px) {
  /* 568 */
}
@media only screen and (min-width: 667px) {
  /* 667px */
}
@media only screen and (min-width: 736px) {
  /* 736px */
}
/*Tablet*/

@media only screen and (min-width: 768px) {
  /* 768 */
  /*-------------------------------------------------------*/
  /* SL Main Container: 768
	/*-------------------------------------------------------*/
  .sl-main-container {
    width: 768px;
    margin: 0 auto;
  }

  /*-------------------------------------------------------*/
  /* SL Header: 768
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 0 5%;
  }
  .sl-header-wrapper h3 {
    width: 300px;
    font-size: 60px;
    line-height: 78px;
  }
  .sl-header-wrapper p {
    width: 505px;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 768
	/*-------------------------------------------------------*/
  .swiper-container {
    width: 690px;
  }

  /*-------------------------------------------------------*/
  /* Card Content: 768
	/*-------------------------------------------------------*/
  .sl-card-wrapper {
    width: 325px;
    height: 540px;
  }
  .sl--content-wrapper-inactive {
    width: 290px;
    height: 100%;
  }
  .sl--content-wrapper-active {
    width: 101%;
  }
  .sl--card-hide {
    transform: translate(0, 375px);
  }
  .sl-gradient {
    background-position: center 185px;
  }
}
/*    Desktop    */

@media only screen and (min-width: 1024px) {
  /* 1024 */
  /*-------------------------------------------------------*/
  /* Main Wrapper: 1024
	/*-------------------------------------------------------*/

  /*-------------------------------------------------------*/
  /* SL Main Container: 1024
	/*-------------------------------------------------------*/
  .sl-main-container {
    width: 1024px;
  }

  /*-------------------------------------------------------*/
  /* SL Header: 1024
	/*-------------------------------------------------------*/
  .sl-header-wrapper {
    padding: 50px 2% 0 5%;
    width: 500px;
    display: inline-block;
    float: left;
  }
  .sl-header-wrapper p {
    width: 100%;
  }

  /*-------------------------------------------------------*/
  /* Swiper: 1024
	/*-------------------------------------------------------*/
  .sl-wrapper {
    height: 540px;
    width: 522px;
    display: inline-block;
  }

  .swiper-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 505px;
    height: 540px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }

  /*-------------------------------------------------------*/
  /* Prev/Next Slide Cover: 1024
	/*-------------------------------------------------------*/
  .sl-nav {
    display: block;
  }
}
@media only screen and (min-width: 1140px) {
  /* 1140 */
}
@media only screen and (min-width: 1440px) {
  /* 1440 */
  /*-------------------------------------------------------*/
  /* Slide Layout: 1024
	/*-------------------------------------------------------*/
  .sl-main-container {
    width: 1440px;
  }
  .sl-wrapper,
  .swiper-container {
    width: 920px;
  }
}
@media only screen and (min-width: 1662px) {
  /* 1662px */
}












@media(max-width:1100px){
  .logo {
      width:80%;
      height: 80%;
  }
  nav{
      justify-content: space-between ;
      height: 65px;
  }
  .menu{
      display: none;
      position: absolute;
      top: 65px;
      left: 0px;
      background-color: hwb(296 25% 10%);
      border-bottom: 4px solid #dec6c6;
      width: 100%;
  }
  .menu li{
      width: 100%;
  }
  nav .menu li a{
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 25px;
      border: 1px solid rgba(38,38,38,0.03);
  }
  nav .menu-icon{
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
  }
  nav .menu-icon .nav-icon{
      background-color: #333333;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after{
      background: #333333;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all ease-out 0.4s;
      width: 100%;
  }
  nav .menu-icon .nav-icon:before{
      top: 5px;
  }
  nav .menu-icon .nav-icon:after{
      top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon{
      background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
      transform: rotate(-45deg);
      top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
      transform: rotate(45deg);
      top: 0;
  }
  nav .menu-btn{
      display: none;
  }
  nav ,.menu-btn:checked ~ .menu{
      display: block;
  }
  .header-image{
      display: none;
  }
  .header-text{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction:column ;
      height: 45vh;
      margin: 0px;
      margin-top: -120px;
  }
  .header-text h1{
      text-align: center;
      padding: 0px 20px;
      font-size: 2.5rem;
  }
  .header-text p{
      text-align: center;
  }
  .arrow{
      height: 70px;
      left: 2%;
      margin-bottom: 10em;
  }
  .scroll{
      left: 44%;
      bottom: 130px;
  }
  .about-image{
      display: none;
  }
  .about-text{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction:column ;
      height: 45vh;
      margin: 0px;
      margin-top: -120px;
  }
  .about-text h1{
      text-align: center;
      padding: 0px 20px;
      font-size: 2.5rem;
  }
  .about-text p{
      text-align: center;
  }

}









footer.footer-sec {
  background-color: rgb(63 20 84);
  padding: 30px 20px;
  margin-top: 40px;
}
.my{
  width: 300px;
}

.footer__social {
  margin-top: 18px;
  justify-content: end;
  display: flex;

}
.menu-item-232{
  margin-right: 6px;
  background-color: white;
}
.menu-item-231{
  margin-right: 6px;
  background-color: white;
}
.menu-item-230{
  margin-right: 6px;
  background-color: white;
}
.menu-item-229{
  margin-right: 6px;
  background-color: white;
}
.menu-item-31061{
  margin-right: 6px;
  background-color: white;
}





.row.address {
  padding: 20px 0;
  border-bottom: 1px solid #8b49ab;
}

.row.address address {
  color: #ffffffba;
  font-size: 18px;
  line-height: 29px;
}

.row.address p {
  color: #fff;
}
.col-4.quick ul {
  padding: 0;
}
.col-4.quick ul li a:hover {color: #fff;}
.col-4.quick ul li a {
  color: #fff;
}

.col-4.quick ul li a {
  text-decoration: unset;
  color: #ffffffba;
}

.col-4.quick ul li {
  width: 30%;
  display: inline-block;
  margin: 6px 0;
}


.row.copy ul {
  text-align: center;
  padding: 20px 0 0 0;
}

.row.copy ul li {
  display: inline-block;
  margin: 0 20px;
}

.row.copy ul li a {
  color: #ffffffba;
  text-decoration: none;
}

.row.copy ul li a:hover {
  color: #ffff;
}
.row.copy p {
  text-align: center;
  color: #ffffffba;
  margin: 0;
}
.mytitle h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .footer.footer-sec {
    text-align: center;
  }
  .my {
    width: 300px;
    margin-left: 50%;
  }
  .footer__social {
    justify-content: center;
    margin-top: 30%;
    margin-right: 50%;
  }
  .menu-item-232,
  .menu-item-231,
  .menu-item-230,
  .menu-item-229,
  .menu-item-31061 {
    margin-right: 0;
    margin-bottom: 6px;
  }

  .col-4.quick ul li {
    width: 100%;
    display: block;
    margin: 6px 0;
    text-align: center;
  }
  .row.copy ul {
    padding: 0;
  }
  .row.copy ul li {
    display: block;
    margin: 10px 0;
  }
  .menu-item-232{
    margin-right: 6px;
    background-color: white;
  }
  .menu-item-231{
    margin-right: 6px;
    background-color: white;
  }
  .menu-item-230{
    margin-right: 6px;
    background-color: white;
  }
  .menu-item-229{
    margin-right: 6px;
    background-color: white;
  }
  .menu-item-31061{
    margin-right: 6px;
    background-color: white;
  }
  .row.address{
    display: inline;
    margin-left: 20PX;
    max-width: 100%;

  }
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 100%;
}

}






/* Styling for the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: ;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}



