{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=EDGE"/>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Harvesters Theological Seminar</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

        <link rel="stylesheet" href="{% static 'style.css'%}" >
        <link rel="shortcut icon" href="{% static 'logo.jpg' %}">

    </head>
    <body>


        <section class="header">


            <nav class="navbar-one flex">

                <div class="left flex">

                    <div class="Request info">
                        <li><a href="{% url 'admission:info' %}"><b>Request info</b></a></li>
                    </div>
                    <div class="visit">
                      <li><a href="#"><b>visit</b></a></li>
                    </div>
                    <div class="Give">
                      <li><a href="{% url 'admission:donate' %}"><b>Give</b></a></li>
                    </div>
                    <div>
                        <form action="{% url 'admission:apply' %}">
                    <button class="glow-on-hover"  type="submit"><b>Apply</b></button>
                        </form>
                    </div>
                </div>

            </nav>
            <nav class="navbar-second flex">

                <a href="#" class="logo">
                    <img src="{% static 'HTCS.jpg' %}">
                </a>
                <input class="menu-btn" type="checkbox" id="menu-btn">
                <label class="menu-icon" for="menu-btn">
                    <span class="nav-icon"></span>
                </label>


                <ul class="menu">
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="{% url "post:acadpost" %}">Academics</a></li>
                    <li><a href="{% url "post:coursespost" %}">Admission</a></li>
                    <li><a href="{% url "post:eventspost" %}">Student Life</a></li>
                    <li><a href="{% url "admission:alumni" %}">Alumni</a></li>

                </ul>
            </nav>



            <div class="slider">
              <div class="slide current">
                <div class="content">
                  <h1>Slide One</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                  </p>
                </div>
              </div>
              <div class="slide">
                <div class="content">
                  <h1>Slide Two</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                  </p>
                </div>
              </div>
              <div class="slide">
                <div class="content">
                  <h1>Slide Three</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                  </p>
                </div>
              </div>
              <div class="slide">
                <div class="content">
                  <h1>Slide Four</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                  </p>
                </div>
              </div>
              <div class="slide">
                <div class="content">
                  <h1>Slide Five</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
                    maxime, voluptatibus labore doloremque vero!
                  </p>
                </div>
              </div>
            </div>
            <div class="buttons">
              <button id="prev"><i class="fas fa-arrow-left"></i></button>
              <button id="next"><i class="fas fa-arrow-right"></i></button>
            </div>




<div class="blocksholder">
    <div class="block">
        <img  src="https://res.cloudinary.com/dallas-theological-seminary/images/w_auto,c_scale,dpr_auto,f_auto/v1618417016/dts-website-assets/bible-icon_243386684/bible-icon_243386684.svg?_i=AA" alt="" src="https://res.cloudinary.com/dallas-theological-seminary/images/w_400,c_scale,dpr_2.0,f_auto/v1618417016/dts-website-assets/bible-icon_243386684/bible-icon_243386684.svg?_i=AA">
        <div class="b1">Inter-denominational</div>
    </div>
    <div class="block">
        <img  src="https://res.cloudinary.com/dallas-theological-seminary/images/w_auto,c_scale,dpr_auto,f_auto/v1618417012/dts-website-assets/book-icon_24345cd9c/book-icon_24345cd9c.svg?_i=AA" alt="" src="https://res.cloudinary.com/dallas-theological-seminary/images/w_400,c_scale,dpr_2.0,f_auto/v1618417012/dts-website-assets/book-icon_24345cd9c/book-icon_24345cd9c.svg?_i=AA">
       <div class="b2"> 66 books of the Bible are taught in every ministry degree program</div>
     </div>
    <div class="block">
        <img src="https://res.cloudinary.com/dallas-theological-seminary/images/w_auto,c_scale,dpr_auto,f_auto/v1618417014/dts-website-assets/globe-icon_24356aabd/globe-icon_24356aabd.svg?_i=AA" alt="" src="https://res.cloudinary.com/dallas-theological-seminary/images/w_400,c_scale,dpr_2.0,f_auto/v1618417014/dts-website-assets/globe-icon_24356aabd/globe-icon_24356aabd.svg?_i=AA">
        <div class="b3">    Bi-lingual(English and Tamil) </div>
    </div>
    <div class="block">
        <div class="gold">Mission</div>
        <div class="b4">Practice ministry exposure and Spiritual formation</div>
    </div>
</div>



<div class="video-slider">
  <div class="video-slide">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_HERE" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-slide">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_HERE" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-slide">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID_HERE" frameborder="0" allowfullscreen></iframe>
  </div>
</div>





<div class="mytitle"><h3>Recent Events</h3></div>

<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">

        <img src="{% static 'sli3.jpg' %}" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>

  </div>
  <div class="blog-slider__pagination"></div>
</div>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
 <script  src="{% static 'script.js' %}"></script>

            <div class="header-content">
                <div class="header-text">
                    <h1>WELCOME TO <span>Harvesters Theological College</span></h1>
                    <P>our vision at <b>Harvesters Theological College</b>
                        is to equip godly servant-leaders for the Glory of God to be effective Evangelists,<br>
                        Church Planters, Pastors,Missionaries and Teachers in India. </P>
                    <a href="#" class="header-btn">Read More</a>
                </div>
                <div class="header-image">
                    <img src="{% static 'sli4.jpg' %}">
                </div>
            </div>
        </section>

        <section class="subject">
            <div class="subject-heading">
                <h2>FEATURES</h2>
                <p>Physical education is designed in such a way that it not only provides Physical
                    development but also moral values
                </p>
            </div>
            <div class="box-container">
                <div class="box">
                    <img src="{% static 'sli5.jpg' %}" width="200" height="200">
                    <font>EXPERIENCED TEACHERS</font>
                    <p>Our highlight is Experienced Faculties, <b>Harvesters Theological College</b>
                    strongly believe that the best faculty creates best students.</p>
                        <a href="{% url "admission:faculty"%}">view</a>
                </div>
                <div class="box">
                    <img src="{% static 'sli4.jpg' %}" width="200" height="200">
                    <font>CAMPUS</font>
                    <p>Our classrooms and play environments are spacious to ensure all out childern
                        are safe and secure in <b>Harvesters Theological College in
                        Bethelpuram</b>
                    </p>
                        <a href="{% url "post:eventspost"%}">view</a>
                </div>
                <div class="box">
                    <img src="{% static 'sli3.jpg' %}" width="200" height="200">
                    <font>GOOD EDUCATION</font>
                    <p><b>Harvesters Theological College</b> delivers quality education to all
                    studnts by delivering quality training and education with upgraded techniques
                    and technology.</p>
                        <a href="{% url "post:coursespost"%}">view</a>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="about-content">
                <div class="about-image">
                    <img src="{% static 'sli5.jpg' %}">
                </div>
                <div class="About-text">
                    <h1>OUR MISSION</h1>
                    <P>Our mission is to train students to understand and effectively communicate the truth of God’s Revelation (Bible)
                       and to instill in students a love and passion for the Glory of God
                       and also to cultivate in students a burden for the lost we strive hard nourish the spiritual life of students through regular chapel services, spiritual formation and mentoring
                       and to offer the highest quality of distinctive evangelical academic training

                    </P>
                    <a href="#" class="about-btn">Read More</a>
                </div>

            </div>
        </section>


    </body>
</html>











