{% load static %}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=EDGE" />
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Harvesters Theological Seminar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>




	<link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>
	<section class="header">
		<nav class="navbar-one flex">
			<div class="left flex">
				<div class="Request info">
					<li><a href="{% url 'admission:info' %}"><b>Request info</b></a></li>
				</div>
				<div class="visit">
					<li><a href="#"><b>visit</b></a></li>
				</div>
				<div class="Give">
					<li><a href="{% url 'admission:donate' %}"><b>Give</b></a></li>
				</div>
				<div>
					 <form action="{% url 'admission:apply' %}">
					<button class="glow-on-hover" type="submit"><b>Apply</b></button>
					 </form>
				</div>
			</div>
		</nav>
		<nav class="navbar-second flex">
			<a href="#" class="logo"> <img src="{% static 'Label 3.png' %}" width="400" height="300"/> </a>
			<input class="menu-btn" type="checkbox" id="menu-btn">
			<label class="menu-icon" for="menu-btn"> <span class="nav-icon"></span> </label>
			<ul class="menu">
				<li><a class="active" href="{% url 'admission:home' %}">Home</a></li>
				<li><a href="{% url 'admission:about' %}">About Us</a></li>
				<li><a href="{% url 'admission:cth' %}">Academics</a></li>
				<li><a href="{% url 'admission:faq' %}">Admission</a></li>
				<li><a href="{% url 'admission:faculty' %}">Faculty</a></li>
				<li><a href="{% url 'admission:alumni' %}">Alumni</a></li>
			</ul>
		</nav>
		<div class="slider">
			<div class="slide current">
				<div class="content">
					<h1>Slide One</h1>
					<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic maxime, voluptatibus labore doloremque vero! </p>
				</div>
			</div>
			<div class="slide">
				<div class="content">
					<h1>Slide Two</h1>
					<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic maxime, voluptatibus labore doloremque vero! </p>
				</div>
			</div>
			<div class="slide">
				<div class="content">
					<h1>Slide Three</h1>
					<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic maxime, voluptatibus labore doloremque vero! </p>
				</div>
			</div>
			<div class="slide">
				<div class="content">
					<h1>Slide Four</h1>
					<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic maxime, voluptatibus labore doloremque vero! </p>
				</div>
			</div>
			<div class="slide">
				<div class="content">
					<h1>Slide Five</h1>
					<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic maxime, voluptatibus labore doloremque vero! </p>
				</div>
			</div>
		</div>
		<div class="buttons">
			<button id="prev"><i class="fas fa-arrow-left"></i></button>
			<button id="next"><i class="fas fa-arrow-right"></i></button>
		</div>

		<div class="blocksholder">
			<div class="block"> <img src="https://res.cloudinary.com/dallas-theological-seminary/images/w_auto,c_scale,dpr_auto,f_auto/v1618417016/dts-website-assets/bible-icon_243386684/bible-icon_243386684.svg?_i=AA" alt="" src="https://res.cloudinary.com/dallas-theological-seminary/images/w_400,c_scale,dpr_2.0,f_auto/v1618417016/dts-website-assets/bible-icon_243386684/bible-icon_243386684.svg?_i=AA">
				<div class="b1">Inter-denominational</div>
			</div>
			<div class="block"> <img src="https://res.cloudinary.com/dallas-theological-seminary/images/w_auto,c_scale,dpr_auto,f_auto/v1618417012/dts-website-assets/book-icon_24345cd9c/book-icon_24345cd9c.svg?_i=AA" alt="" src="https://res.cloudinary.com/dallas-theological-seminary/images/w_400,c_scale,dpr_2.0,f_auto/v1618417012/dts-website-assets/book-icon_24345cd9c/book-icon_24345cd9c.svg?_i=AA">
				<div class="b2"> 66 books of the Bible are taught in every ministry degree program</div>
			</div>
			<div class="block"> <img src="https://res.cloudinary.com/dallas-theological-seminary/images/w_auto,c_scale,dpr_auto,f_auto/v1618417014/dts-website-assets/globe-icon_24356aabd/globe-icon_24356aabd.svg?_i=AA" alt="" src="https://res.cloudinary.com/dallas-theological-seminary/images/w_400,c_scale,dpr_2.0,f_auto/v1618417014/dts-website-assets/globe-icon_24356aabd/globe-icon_24356aabd.svg?_i=AA">
				<div class="b3"> Bi-lingual(English and Tamil) </div>
			</div>
			<div class="block">
				<div class="gold">Mission</div>
				<div class="b4">Practice ministry exposure and Spiritual formation</div>
			</div>
		</div>


		<!-- Vide o Slider -->
		<div class="youtube-slider">
			<div class="lol-tube">
			  <iframe src="https://www.youtube.com/embed/Z1PCtIaM_GQ" frameborder="0" allowfullscreen></iframe>
			  <h2 class="funny-title">Rick Astley - Never Gonna Give You Up (Official Music Video)</h2>
			</div>
			<div class="rofl-tube">
			  <iframe src="https://www.youtube.com/embed/Z1PCtIaM_GQ" frameborder="0" allowfullscreen></iframe>
			  <h2 class="funny-title">Charlie Bit My Finger - Again !</h2>
			</div>
			<div class="lmao-tube">
			  <iframe src="https://www.youtube.com/embed/Z1PCtIaM_GQ" frameborder="0" allowfullscreen></iframe>
			  <h2 class="funny-title">David After Dentist</h2>
			</div>
			<div class="omg-tube">
			  <iframe src="https://www.youtube.com/embed/MFmr_TZLpS0" frameborder="0" allowfullscreen></iframe>
			  <h2 class="funny-title">Goats Yelling Like Humans</h2>
			</div>
			<div class="wtf-tube">
			  <iframe src="https://www.youtube.com/embed/Ll-lia-FEIY" frameborder="0" allowfullscreen></iframe>
			  <h2 class="funny-title">Potato Salad - Epic Meal Time</h2>
			</div>
		</div>




		<div class="mytitle">
			<h3>Recent Events</h3></div>
		<div class="blog-slider">
			<div class="blog-slider__wrp swiper-wrapper">
				<div class="blog-slider__item swiper-slide">
					<div class="blog-slider__img"> <img src="{% static 'womensday.jpeg' %}" alt=""> </div>
					<div class="blog-slider__content"> <span class="blog-slider__code">26 December 2019</span>
						<div class="blog-slider__title">Women’s day celebration </div>
						<div class="blog-slider__text">The international women’s day was celebrated by the women faculty and the students of Harvesters Theological College and Seminary on the 11th of March this year. The theme of the one-day seminar was “Know God to know oneself “. The message, songs, skit, games and dance were based on the lines of the theme. The day started by singing praises to our Lord by our students and staff, a few tips on health, hygiene and balanced diet was given by our current student Ms. Priyadarshini, a presentation on the life and ministry of Amy Carmichael an English missionary to the southern part of India by our graduate Ms. Sakthipriya, A character study of the biblical character Abigail was shared by our graduate Mrs. Sugirtha Barnabas and a session on the importance of being part of the Church was elucidated by our graduate Mrs. Delfi Rajasekhar. Our students and the lady staff served a delicious lunch to all the attendees.
							</div> <a href="aboutus.html" class="blog-slider__button">READ MORE</a> </div>
				</div>
				<div class="blog-slider__item swiper-slide">
					<div class="blog-slider__img"> <img src="{% static 'FastingPrayer.jpeg' %}" alt=""> </div>
					<div class="blog-slider__content"> <span class="blog-slider__code">26 December 2019</span>
						<div class="blog-slider__title">Fasting and Prayer</div>
						<div class="blog-slider__text">We began the new semester with a “Day of Fasting and Prayer” on the 13th of January, 2023. We sang hymns of praise and chorus to our triune God. We also had a time of sharing the testimony of God’s grace during our Christmas break. We read plenty of Scripture and mediated on the Word of God.  We also asked God to search our heart and we recommitted our lives to him. Several prayer requests were shared and prayed for. When we shared our supplication to God, the peace of God filled our heart. </div>
						<a href="aboutus.html" class="blog-slider__button">READ MORE</a> </div>
				</div>
				<div class="blog-slider__item swiper-slide">
					<div class="blog-slider__img"> <img src="{% static 'alumnimeet.jpeg' %}" alt=""> </div>
					<div class="blog-slider__content"> <span class="blog-slider__code">26 December 2019</span>
						<div class="blog-slider__title">Alumni meet </div>
						<div class="blog-slider__text">By the grace of God, we had a wonderful Alumi meet on the 14th March, 2023. It was completely planned by the gradates themselves. We started the day with a joyful praise and worship led by one of graduate ‘Ajit’ and followed by a Prof. Mrs. Fay Samuel’s powerful challenging exposition of Matthew 9:35-38 on the vision of Jesus Christ for the kingdom, concern and compassion for the lost and his call to join him in harvesting.
							The graduates relived their moments by visiting their classrooms, library, dorms and enjoying tea together. At the conference Hall, we had an open discussion about their experiences during their college days. We also discussed about how the teaching and training ministry of the college could be improved. We were encouraged by the love and the passion of the graduates for the college.
							</div> <a href="aboutus.html" class="blog-slider__button">READ MORE</a> </div>
				</div>
			</div>
			<div class="blog-slider__pagination"></div>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>

		<script src="{% static 'script.js' %}"></script>

		<div class="main-wrapper">
			<div class="sl-main-container">
				<div class="sl-header-wrapper">
					<h4>OUR COURSES</h4>
					<h3>Harvesters Theological College</h3>
					<p>choose COURSES that's suitable for you.</p>
					<!-- If we need navigation buttons -->
					<div class="sl-nav">
						<div class="swiper-button-next">
							<svg id="nextBtn" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65">
								<style>
								#nextBtn {
									fill: #04b7ac;
								}
								</style>
								<path d="M32.5 0A32.5 32.5 0 1 0 65 32.5 32.5 32.5 0 0 0 32.5 0zm0 62A29.5 29.5 0 1 1 62 32.5 29.53 29.53 0 0 1 32.5 62zm-5.22-40.28L38.06 32.5 27.28 43.28l2.12 2.12 12.9-12.9-12.9-12.9z" /> </svg>
						</div>
						<div class="swiper-button-prev">
							<svg xmlns="http://www.w3.org/2000/svg" id="prevBtn" data-name="Layer 1" viewBox="0 0 65 65">
								<style>
								#prevBtn {
									fill: #04b7ac;
								}
								</style>
								<path d="M0 32.5A32.5 32.5 0 1 0 32.5 0 32.5 32.5 0 0 0 0 32.5zm3 0A29.5 29.5 0 1 1 32.5 62 29.53 29.53 0 0 1 3 32.5zm32.6-12.9L22.7 32.5l12.9 12.9 2.12-2.12L26.94 32.5l10.78-10.78z" /> </svg>
						</div>
					</div>
				</div>
				<div class="sl-wrapper">
					<!-- Slider main container -->
					<div class="swiper-container">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide sl--slide">
								<div class="slide-cover"></div>
								<div class="sl-card-wrapper">
									<div class="sl-gradient"></div>
									<div class="sl-img-1 sl-bkg-img"></div>
									<div class="sl--content-wrapper sl--content-wrapper-inactive">
										<div class="sl--content-container sl--card-hide">
											<p class="sl--sub-text">Certificate in Theology</p>
											<h2>C.th</h2>
											<p class="sl--card-content">Certificate in Theology	      1 years (Regular and Extension)</p>
											<div class="sl--link">Apply</div>
										</div>
										<!-- Card Nav GRP -->
										<div class="sl--card-nav-container">
											<!-- Reveal info btn -->
											<div class="sl--content-btn content-reveal-btn">
												<svg class="card-nav-gfx sl--show-card-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.63 113.63">
													<path d="M105.56 48.75H64.88V8.06a8.06 8.06 0 0 0-16.12 0v40.69H8.06a8.06 8.06 0 0 0 0 16.13h40.69v40.69a8.06 8.06 0 0 0 16.13 0V64.88h40.69a8.06 8.06 0 0 0 0-16.12z" /> </svg>
											</div>
										</div>
										<!-- END: Card Nav GRP -->
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slide-cover"></div>
								<div class="sl-card-wrapper">
									<div class="sl-gradient"></div>
									<div class="sl-img-2 sl-bkg-img"></div>
									<div class="sl--content-wrapper sl--content-wrapper-inactive">
										<div class="sl--content-container sl--card-hide">
											<p class="sl--sub-text">Diploma in theology</p>
											<h2>Dip.th</h2>
											<p class="sl--card-content">Diploma in Theology                2 years (Regular and Extension) </p>
											<div class="sl--link">Apply</div>
										</div>
										<!-- Card Nav GRP -->
										<div class="sl--card-nav-container">
											<!-- Reveal info btn -->
											<div class="sl--content-btn content-reveal-btn">
												<svg class="card-nav-gfx sl--show-card-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.63 113.63">
													<path d="M105.56 48.75H64.88V8.06a8.06 8.06 0 0 0-16.12 0v40.69H8.06a8.06 8.06 0 0 0 0 16.13h40.69v40.69a8.06 8.06 0 0 0 16.13 0V64.88h40.69a8.06 8.06 0 0 0 0-16.12z" /> </svg>
											</div>
										</div>
										<!-- END: Card Nav GRP -->
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slide-cover"></div>
								<div class="sl-card-wrapper">
									<div class="sl-gradient"></div>
									<div class="sl-img-3 sl-bkg-img"></div>
									<div class="sl--content-wrapper sl--content-wrapper-inactive">
										<div class="sl--content-container sl--card-hide">
											<p class="sl--sub-text">Bachelor in theology</p>
											<h2>B.th</h2>
											<p class="sl--card-content">Bachelors in Theology              3 years (Regular and Extension)</p>
											<div class="sl--link">LINK</div>
										</div>
										<!-- Card Nav GRP -->
										<div class="sl--card-nav-container">
											<!-- Reveal info btn -->
											<div class="sl--content-btn content-reveal-btn">
												<svg class="card-nav-gfx sl--show-card-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.63 113.63">
													<path d="M105.56 48.75H64.88V8.06a8.06 8.06 0 0 0-16.12 0v40.69H8.06a8.06 8.06 0 0 0 0 16.13h40.69v40.69a8.06 8.06 0 0 0 16.13 0V64.88h40.69a8.06 8.06 0 0 0 0-16.12z" /> </svg>
											</div>
										</div>
										<!-- END: Card Nav GRP -->
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slide-cover"></div>
								<div class="sl-card-wrapper">
									<div class="sl-gradient"></div>
									<div class="sl-img-2 sl-bkg-img"></div>
									<div class="sl--content-wrapper sl--content-wrapper-inactive">
										<div class="sl--content-container sl--card-hide">
											<p class="sl--sub-text">Masters in Divinity</p>
											<h2>M.Div</h2>
											<p class="sl--card-content">Masters in Divinity                    2 or 3 years (Regular and Extension) </p>
											<div class="sl--link">Apply</div>
										</div>
										<!-- Card Nav GRP -->
										<div class="sl--card-nav-container">
											<!-- Reveal info btn -->
											<div class="sl--content-btn content-reveal-btn">
												<svg class="card-nav-gfx sl--show-card-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.63 113.63">
													<path d="M105.56 48.75H64.88V8.06a8.06 8.06 0 0 0-16.12 0v40.69H8.06a8.06 8.06 0 0 0 0 16.13h40.69v40.69a8.06 8.06 0 0 0 16.13 0V64.88h40.69a8.06 8.06 0 0 0 0-16.12z" /> </svg>
											</div>
										</div>
										<!-- END: Card Nav GRP -->
									</div>
								</div>
							</div>
						</div>
						<!-- If we need pagination -->
						<!--<div class="swiper-pagination"></div>--></div>
				</div>
				<!-- END: .sl-wrapper -->
			</div>
		</div>


<footer class="footer-sec">
  <div class="row" style="border-bottom: 1px solid #8b49ab;">
    <div class="col-3">
        <a href="#" class="footer__logo"> <img class="my" img src="{% static 'logo1.jpg' %}" alt="Dallas Theological Seminary Logo"></a>
    </div>
    <div class="col-9">
      	<ul id="menu-social" class="footer__social" role="menu" aria-label="Footer menu links">
            <li id="menu-item-232" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
              <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/dallasseminary/" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-twitter-square-purple.svg&quot; alt=&quot;twitter&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-twitter-square-purple.svg" alt="twitter"></a>
            </li>
            <li id="menu-item-231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-231 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100054252050271" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-facebook-square-purple.svg&quot; alt=&quot;facebook&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-facebook-square-purple.svg" alt="facebook"></a>
            </li>
            <li id="menu-item-230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-230 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
              <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/htcs.education/" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-instagram-square-purple.svg&quot; alt=&quot;instagram&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-instagram-square-purple.svg" alt="instagram"></a>
            </li>
            <li id="menu-item-229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-229 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
              <a target="_blank" rel="noopener noreferrer" href="https://youtube.com/@HarvestersTheologicalCollege" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-youtube-square-purple.svg&quot; alt=&quot;youtube&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-youtube-square-purple.svg" alt="youtube"></a>
            </li>
            <li id="menu-item-31061" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31061 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
              <a target="_blank" rel="noopener noreferrer" href="#" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-linkedin-square-purple.svg&quot; alt=&quot;linkedin&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-linkedin-square-purple.svg" alt="linkedin"></a>
            </li>
          </ul>
    </div>
  </div>

  <div class="row address">
    <div class="col-4">
      <p>Contact Address</p>
        <address class="footer__address">Bethelpuram Ponni<br> Sholingur Main Road<br>htcseducation@gmail.com<br> 9787281950, 9611263688</address>
    </div>
    <div class="col-4 quick">
      <p>Quick Links</p>
      <ul>
          <li > <a href="index.html">Home</a></li>
          <li > <a href="aboutus.html">About us</a></li>
          <li> <a href="academics.html">Academics</a></li>
          <li > <a href="addmission.html">Admission</a></li>
          <li > <a href="#">Student Life</a></li>
          <li> <a href="alumni.html">Alumini</a></li>
          <li> <a href="#">Events</a></li>
      </ul>
    </div>
    <div class="col-4 quick">
        <p>Others</p>
        <ul>
            <li > <a href="addmission.html">Our vision</a></li>
            <li > <a href="addmission.html">Our mission</a></li>
            <li> <a href="#">Recent events</a></li>
            <li > <a href="faculty.html">Faculty</a></li>
            <li> <a href="#">Campus life</a></li>
        </ul>
      </div>
  </div>

  <div class="row copy">
    <div class="col-12">

          <p>©2023 Harvesters Theological Seminary.</p>
    </div>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>


</footer>

</body>

</html>