<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>allfaculties</title>
</head>
<body>
<h1>all faculties</h1>
{% for obj in all %}
    <p>{{ obj.name }}</p>
    <img src="{{ obj.pic.url }}" alt="connect" style="max-height:100px"></img>
    <p>{{ obj.faculty_description}}</p>
{% endfor %}
</body>
</html>
!-->

{% load static %}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=EDGE" />
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<title>Harvesters Theological Seminar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>




	<link rel="stylesheet" href="{% static 'faculty.css' %}">


<body>

	<section class="header">
		<nav class="navbar-one flex">
			<div class="left flex">
				<div class="Request info">
					<li><a href="{% url 'admission:info' %}"><b>Request info</b></a></li>
				</div>
				<div class="visit">
					<li><a href="#"><b>visit</b></a></li>
				</div>
				<div class="Give">
					<li><a href="{% url 'admission:donate' %}"><b>Give</b></a></li>
				</div>
				<div>
					 <form action="{% url 'admission:apply' %}">
					<button class="glow-on-hover" type="submit"><b>Apply</b></button>
					 </form>
				</div>
			</div>
		</nav>
		<nav class="navbar-second flex">
			<a href="#" class="logo"> <img src="{% static 'Label 3.png' %}" width="400" height="300"/> </a>
			<input class="menu-btn" type="checkbox" id="menu-btn">
			<label class="menu-icon" for="menu-btn"> <span class="nav-icon"></span> </label>
			<ul class="menu">
				<li><a  href="{% url 'admission:home' %}">Home</a></li>
				<li><a href="{% url 'admission:about' %}">About Us</a></li>
				<li><a href="{% url 'admission:cth' %}">Academics</a></li>
				<li><a href="{% url 'admission:faq' %}">Admission</a></li>
				<li><a class="active" href="{% url 'admission:faculty' %}">Faculty</a></li>
				<li><a href="{% url 'admission:alumni' %}">Alumni</a></li>
			</ul>
		</nav>


















        <header class="entry-header">
            <h1 class="entry-title">Faculty Team</h1>
        </header>

       <div class="faculty">
        <img class="facultyimg" src="{% static 'princi.jpg' %}">

            <div class="profile">
                <p class="add"><b>Prof. J.S. Aaron John Samuel.</b> B.Sc., M.S.W., (Madras Christian College)., M. A (Madurai Kamaraj University), Th.M., (Dallas Theological Seminary), Certificate in Islamic studies (South Asia Institute of Advanced Christian Studies),
                    <span id="dots">...</span>
                    <span id="more">Ph.D (Candidate – University of Madras)
                        <br><b>Department</b> - Biblical Studies (New Testament), Religious & Philosophy, Evangelism, Preaching & Apologetics</span></p>

                <button onclick="myFunction()" id="myBtn" class="bun">Read more</button>

        </div>
       </div>
       <hr>
       <div class="faculty1">
        <img class="facultyimg1" src="{% static 'fay.JPG' %}">

            <div class="profile1">
                <p class="add1"><b>Prof. Fay D. Samuel.</b> B.Com (CS), M.Com (CS) (Anna Adarsh College for Women), MSc., (Manonmani Sundaranar University)
                    <span id="dots1">...</span>
                    <span id="more1">M.Div. (Acts Institute of Higher Studies)
                        <br><b>Department</b> - Biblical Studies, Counselling, Cultural Anthropology & Ethics</span></p>

                <button onclick="myFunction1()" id="myBtn1" class="bun1">Read more</button>

        </div>
       </div>
       <hr>
       <div class="faculty2">
        <img class="facultyimg2" src="{% static 'joseph.jpg' %}">

            <div class="profile2">
                <p class="add2"><b>Prof. Joseph Durairaj.</b> B.Sc., (Bharathiar University)., M.A., (Madras University), BD., M.Th (Union Biblical Seminary).
                    <span id="dots2">...</span>
                    <span id="more2">
                        <br><b>Department</b> -  Biblical Studies (Old Testament), Missions & Worship </span></p>

                <button onclick="myFunction2()" id="myBtn2" class="bun2">Read more</button>

        </div>
       </div>
       <hr>
       <div class="faculty3">
        <img class="facultyimg3" src="{% static 'santharaj.JPG' %}">

            <div class="profile3">
                <p class="add"><b>Prof. John Santharaj.</b>BA., (Pachaiyappas College), B.D., (Union Biblical Seminary) M.Th., (United Theological College)
                    <span id="dots3">...</span>
                    <span id="more3">
                        <br><b>Department</b> - Theological Studies, Pastoral Ministry & Christian Leadership </span></p>

                <button onclick="myFunction3()" id="myBtn3" class="bun3">Read more</button>

        </div>
       </div>
       <hr>
       <div class="faculty4">
        <img class="facultyimg4" src="{% static 'isaac.jpg' %}">

            <div class="profile4">
                <p class="add4"><b>Prof. Isaac .</b> B. Com (Periyar University), B.Th., M.Div (Harvesters Theological College & Seminary). M.A., (University of Madras).,
                    <span id="dots4">...</span>
                    <span id="more4">
                        <br><b>Department</b> - Study Methods, Christian Education, Modern Religious movements and Library science</span></p>

                <button onclick="myFunction4()" id="myBtn4" class="bun4">Read more</button>

        </div>
       </div>
       <hr>
       <div class="faculty5">
        <img class="facultyimg5" src="{% static 'paul2.jpg' %}">

            <div class="profile5">
                <p class="add5"><b>Prof. Paul Raj.</b> B.Th., (Madras Theological Seminary & College) M.Div., (Sothern Asia Bible College),M.Th (South Asia Institute of Advanced Christian Studies) .
                    <span id="dots5">...</span>
                    <span id="more5">
                        <br><b>Department</b> - History of Christianity & Mission</span></p>

                <button onclick="myFunction5()" id="myBtn5" class="bun5">Read more</button>

        </div>
       </div>
       <hr>
       <div class="faculty6">
        <img class="facultyimg6" src="{% static 'sathish.JPG' %}">

            <div class="profile6">
                <p class="add6"><b>Prof. Satheesh.</b>B.Th., (Madras Theological Seminary & College). BD., (Tamandu Theological Seminary), M.Th., (Federated Faculty for Research in Religion and Culture)
                    <span id="dots6">...</span>
                    <span id="more6">
                        <br><b>Department</b> - History of Christianity & Social Analysis.</span></p>

                <button onclick="myFunction6()" id="myBtn6" class="bun6">Read more</button>

        </div>
       </div>
       <hr>























        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
		<script src="{% static 'script.js' %}"></script>

<footer class="footer-sec">
    <div class="row" style="border-bottom: 1px solid #8b49ab;">
      <div class="col-3">
          <a href="index.html" class="footer__logo"> <img class="my" img src="{% static 'logo1.jpg' %}" alt="Dallas Theological Seminary Logo"></a>
      </div>
      <div class="col-9">
            <ul id="menu-social" class="footer__social" role="menu" aria-label="Footer menu links">
              <li id="menu-item-232" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/dallasseminary/" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-twitter-square-purple.svg&quot; alt=&quot;twitter&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-twitter-square-purple.svg" alt="twitter"></a>
              </li>
              <li id="menu-item-231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-231 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100054252050271" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-facebook-square-purple.svg&quot; alt=&quot;facebook&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-facebook-square-purple.svg" alt="facebook"></a>
              </li>
              <li id="menu-item-230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-230 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/htcs.education/" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-instagram-square-purple.svg&quot; alt=&quot;instagram&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-instagram-square-purple.svg" alt="instagram"></a>
              </li>
              <li id="menu-item-229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-229 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
                <a target="_blank" rel="noopener noreferrer" href="https://youtube.com/@HarvestersTheologicalCollege" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-youtube-square-purple.svg&quot; alt=&quot;youtube&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-youtube-square-purple.svg" alt="youtube"></a>
              </li>
              <li id="menu-item-31061" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31061 footer__item footer__item--social footer__link footer__link--social" role="menuitem">
                <a target="_blank" rel="noopener noreferrer" href="#" aria-label="<img src=&quot;https://www.dts.edu/wp-content/themes/dts/img/icon-linkedin-square-purple.svg&quot; alt=&quot;linkedin&quot;> opens in new tab"> <img src="https://www.dts.edu/wp-content/themes/dts/img/icon-linkedin-square-purple.svg" alt="linkedin"></a>
              </li>
            </ul>
      </div>
    </div>

    <div class="row address">
      <div class="col-4">
        <p>Contact Address</p>
          <address class="footer__address">Bethelpuram Ponni<br> Sholingur Main Road<br>htcseducation@gmail.com<br> 9787281950, 9611263688</address>
      </div>
      <div class="col-4 quick">
        <p>Quick Links</p>
        <ul>
            <li > <a href="index.html">Home</a></li>
            <li > <a href="aboutus.html">About us</a></li>
            <li> <a href="academics.html">Academics</a></li>
            <li > <a href="addmission.html">Admission</a></li>
            <li > <a href="#">Student Life</a></li>
            <li> <a href="alumni.html">Alumini</a></li>
            <li> <a href="#">Events</a></li>
        </ul>
      </div>
      <div class="col-4 quick">
          <p>Others</p>
          <ul>
              <li > <a href="addmission.html">Our vision</a></li>
              <li > <a href="addmission.html">Our mission</a></li>
              <li> <a href="#">Recent events</a></li>
              <li > <a href="faculty.html">Faculty</a></li>

              <li> <a href="#">Campus life</a></li>
          </ul>
        </div>
    </div>

    <div class="row copy">
      <div class="col-12">

            <p>©2023 Harvesters Theological Seminary.</p>
      </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>

    <script>
  $(document).ready(function(){
    $('.carousel').slick({
    slidesToShow: 3,
    dots:true,
    centerMode: true,
    });
  });

        </script>
  </footer>

  </body>

  </html>