{% load static %}
<!-- Recent events bringing data from backend !-->
		<div class="mytitle">
			<h3>Recent Events</h3></div>
		<div class="blog-slider">
			<div class="blog-slider__wrp swiper-wrapper">
				<div class="blog-slider__item swiper-slide">
					<div class="blog-slider__img"> <img src="{% static 'womensday.jpeg' %}" alt=""> </div>
					<div class="blog-slider__content"> <span class="blog-slider__code">26 December 2019</span>
						<div class="blog-slider__title">Women’s day celebration </div>
						<div class="blog-slider__text">The international women’s day was celebrated by the women faculty and the students of Harvesters Theological College and Seminary on the 11th of March this year. The theme of the one-day seminar was “Know God to know oneself “. The message, songs, skit, games and dance were based on the lines of the theme. The day started by singing praises to our Lord by our students and staff, a few tips on health, hygiene and balanced diet was given by our current student Ms. Priyadarshini, a presentation on the life and ministry of Amy Carmichael an English missionary to the southern part of India by our graduate Ms. Sakthipriya, A character study of the biblical character Abigail was shared by our graduate Mrs. Sugirtha Barnabas and a session on the importance of being part of the Church was elucidated by our graduate Mrs. Delfi Rajasekhar. Our students and the lady staff served a delicious lunch to all the attendees.
							</div> <a href="aboutus.html" class="blog-slider__button">READ MORE</a> </div>
				</div>
				<div class="blog-slider__item swiper-slide">
					<div class="blog-slider__img"> <img src="{% static 'FastingPrayer.jpeg' %}" alt=""> </div>
					<div class="blog-slider__content"> <span class="blog-slider__code">26 December 2019</span>
						<div class="blog-slider__title">Fasting and Prayer</div>
						<div class="blog-slider__text">We began the new semester with a “Day of Fasting and Prayer” on the 13th of January, 2023. We sang hymns of praise and chorus to our triune God. We also had a time of sharing the testimony of God’s grace during our Christmas break. We read plenty of Scripture and mediated on the Word of God.  We also asked God to search our heart and we recommitted our lives to him. Several prayer requests were shared and prayed for. When we shared our supplication to God, the peace of God filled our heart. </div>
						<a href="aboutus.html" class="blog-slider__button">READ MORE</a> </div>
				</div>
				<div class="blog-slider__item swiper-slide">
					<div class="blog-slider__img"> <img src="{% static 'alumnimeet.jpeg' %}" alt=""> </div>
					<div class="blog-slider__content"> <span class="blog-slider__code">26 December 2019</span>
						<div class="blog-slider__title">Alumni meet </div>
						<div class="blog-slider__text">By the grace of God, we had a wonderful Alumi meet on the 14th March, 2023. It was completely planned by the gradates themselves. We started the day with a joyful praise and worship led by one of graduate ‘Ajit’ and followed by a Prof. Mrs. Fay Samuel’s powerful challenging exposition of Matthew 9:35-38 on the vision of Jesus Christ for the kingdom, concern and compassion for the lost and his call to join him in harvesting.
							The graduates relived their moments by visiting their classrooms, library, dorms and enjoying tea together. At the conference Hall, we had an open discussion about their experiences during their college days. We also discussed about how the teaching and training ministry of the college could be improved. We were encouraged by the love and the passion of the graduates for the college.
							</div> <a href="aboutus.html" class="blog-slider__button">READ MORE</a> </div>
				</div>
			</div>
			<div class="blog-slider__pagination"></div>
		</div>
